.header > input{
    border: white;
    color: indigo;
    background-color: white;
    font: 1em sans-serif;
}

.header{
    display: flex;
    justify-content: space-between;
}

.quiz-start,.questions,.container {
    margin: 10% auto;
    max-width: 50%;

}

.start-button ,.goback,.clear{
    background-color: indigo;
    color: white;

}

.container::after{
    display: none;
}

hr {
    display: none;
}